<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi
                        aspernatur at consectetur mollitia perspiciatis quaerat saepe suscipit. Culpa deserunt dolor
                        nesciunt pariatur quod. Distinctio eaque in nam perferendis voluptas.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                {# icon #}
                <i class="fab fa-500px">&nbsp;</i>
                <strong>E-Commerce</strong>
            </a>
            <a href="#" class="navbar-brand d-flex align-items-center">
                {# icon #}
                <i class="fas fa-shopping-basket fa-2x"></i>
                <span class="badge badge-primary">2</span>
            </a>
        </div>

    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">Home page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{ app.user.name ~ ' ' ~ app.user.firstname }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="" class="dropdown-item">{{ app.user.name ~' '~ app.user.firstname }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin.dashboard') }}" class="dropdown-item">Je suis admin</a>
                        {% endif %}
                        <div class="divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item {% if page_controller is defined and page_controller == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item {% if page_controller is defined and page_controller == 'register' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('security.register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
