<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('admin.dashboard') }}">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page_controller is defined and page_controller == 'dashboard' %}active{% endif %}">
                <a  class="nav-link" href="{{ path('admin.dashboard') }}">Dashboard <i class="fas fa-tachometer-alt"></i></a>
            </li>
            <li class="nav-item {% if page_controller is defined and page_controller == 'user' %}active{% endif %}">
                <a class="nav-link" href="{{ path('admin.user') }}">Users <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Products <i class="fas fa-tags"></i></a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href="">Stocks <i class="fas fa-boxes"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Categories <i class="fas fa-stream"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{ app.user.name ~ ' ' ~ app.user.firstname }} <i class="fas fa-user-tie"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="" class="dropdown-item">{{ app.user.name ~' '~ app.user.firstname }} <i class="fas fa-id-card"></i></a>
                        <a href="{{ path('home') }}" class="dropdown-item">visit to website <i class="fas fa-undo-alt"></i></a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
